body{
background-image: 

}
.cabecalho{
    background-image: url('./praia1.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 40vh;
    text-align: center;
    font-size:40px;
    color: yellow;
     
}
.logo{
    width: 20vw;
    height: 30vh;
}

.formulario{
    width: 30vw;
    text-align:center;
border: solid;


}
.rodape{
    background-image: url('./praia1.jpg');
    width: 100vw;
    height: 40vh;
    text-align: center;
    font-size:40px;
    color: yellow;

}